{% extends 'base.html' %}
{% block cuerpo %}
<link rel="stylesheet" href="/static/css/formulario.css">
<div class="bloque">
  <form action="/{{ruta}}/verificar" method="post">
    <div class="bloque__titulo">
      <label class="bloque__titulo__sub">Ingerse codigo de verificacion enviado al correo</label>
    </div>
  <hr>
  <div class="bloque__caja">
    <input type="text" name="code" maxlength="4" required class="bloque__caja__input">
  </div>
  <hr>
  <div class="bloque__caja">
    <button class="bloque__caja__boton">Enviar</button>
  </div>
</form>
</div>

{% endblock %}